html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
input {
    width: 100%;
}
nav {
    margin: 10px;
}
h3 {
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 1em;
}
h4 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
}
p {
    margin: 0;
}
#vmoutputwidth,
#vmoutputheight
{
    width: 40%;
}
#vmoutputwidth {
    margin-right: 10%;
}
#editorc {
  vertical-align: top;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}
#outputc {
  vertical-align: top;
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}
canvas {
  max-width: 100%;
  margin-top: 10px;
  display: block;
}
#container {
  width: 100%;
  height: calc(100vh - 360px);
  border: 1px solid #eee;
  border-radius: 5px;
}
#output {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 0.5%;
}
#output span {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
#output span:hover {
    white-space: pre-wrap;
}

#vmnodelist {
    margin-top: 4px;
    margin-bottom: 4px;
}

#vmnodelist span {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 16px;
    background: grey;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 6px;
}